<div>
  
  <a href="/cleaners/<%= @cleaner.id %>/appointments/new" class="fluid ui button">Find a Home to Clean</a>
</div>

<div>
  <a href="/cleaners/<%= @cleaner.id %>/appointments" class="fluid ui button">My Cleanings</a>
</div>

<div>
  <a href="" class="fluid ui button">Help</a>
</div>