<div>
  <%= link_to "Find a Home to Clean", new_cleaner_appointment_path(@cleaner), :class => "fluid ui button" %>
</div>

<div>
  <%= link_to "My Current Jobs", cleaner_appointments_path(@cleaner), :class => "fluid ui button" %>
</div>

<div>
  <%= link_to "My Completed Jobs", cleaner_completed_appts_path(@cleaner), :class => "fluid ui button" %>
</div>

<div>
  <a href="" class="fluid ui button">Help</a>
</div>