<div class="">
  <button class="fluid ui button">Schedule a Cleaner</button>
</div>

<div class="">
  <button class="fluid ui button">View Scheduled Cleaners</button>
</div>

<div class="">
  <button class="fluid ui button">Help</button>
</div>
