<div>
  <%= link_to "Schedule a Cleaner", new_customer_appointment_path(@customer), :class => "fluid ui button"  %>
</div>

<div>
  <%= link_to "View Scheduled Cleaners", customer_appointments_path(@customer), :class => "fluid ui button"  %>
</div>

<div>
  <a href="" class="fluid ui button">Help</a>
</div>